.app {
  background-color: white;
  min-height: 80vh;
  width: 400px;
  margin: 20px auto;
}

body {
  background-color: rgb(44, 44, 66);
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.crossed {
  text-decoration: line-through 2px red;
  background-color: #f0f0f0;
}

ul, li {
  list-style-type: none;
  padding: 5px;
  margin: 0;
  margin-left: 30px;
  font-family: 'Poppins', sans-serif;
  width: 200px;
}

li {
  font-size: 12px;
}

button {
  font-family: 'Poppins', sans-serif;
  padding: 5px;
}

input {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}

.container {
  display: flex;
  justify-content: center;
}

.containerTwo {
  display: flex;
  flex-direction: column;
}

.delete {
  background-color: red;
  border: none;
  color: white;
  border-radius: 20px;
  width: 150px;
  margin-bottom: 15px;
}

.add {
  background-color: green;
  border: none;
  color: white;
  border-radius: 20px;
  width: 150px;
}
